/*  Variables
========================================================================== */
$gray-dark: #696969;
$gray: #999999;
$quartz: #DADAE9;

$moody-blue: #7F77CD;
$scampi: #696594;

/*  Defaults
========================================================================== */
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/*  App
========================================================================== */
.App {
  display: flex;
  &.wide {
    .notes-list {
      width: 0;
      border: 0;
    }
  }
  .logged-out-message {
    flex: 1;
    text-align: center;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 100vh;
  font-size: 2rem;
  color: #fff;
  background: $moody-blue;
  svg {
    margin: 1rem 0;
    cursor: pointer;
    &:hover {
      color: $quartz;
    }
  }
  .sidebar-functions {
    display: flex;
    flex-direction: column;
  }
  .logo-container {
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc;
  }
}

.notes-list {
  width: 250px;
  height: 100vh;
  border-right: 1px solid #f9f9f9;
  overflow-y: scroll;
  transition: all 300ms ease;
}

.main-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.welcome-message {
  margin-top: 25%;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  background: #fff;
  .user-wrapper {
    margin-left: auto;
    margin-right: 1rem;
  }
}

.cards-header {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  span {
    margin-left: auto;
    padding: 0 1rem;
    color: $moody-blue;
    cursor: pointer;
    transition: all 300ms ease;
    &:hover {
      color: $scampi;
    }
  }
}

@import './scss/editor';
@import './scss/buttons';
@import './scss/card';
@import './scss/user';
@import './scss/searchbar' 
