/*  Variables
========================================================================== */
/*  Defaults
========================================================================== */
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

/*  App
========================================================================== */
.App {
  display: flex; }
  .App.wide .notes-list {
    width: 0;
    border: 0; }
  .App .logged-out-message {
    flex: 1;
    text-align: center; }

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 100vh;
  font-size: 2rem;
  color: #fff;
  background: #7F77CD; }
  .sidebar svg {
    margin: 1rem 0;
    cursor: pointer; }
    .sidebar svg:hover {
      color: #DADAE9; }
  .sidebar .sidebar-functions {
    display: flex;
    flex-direction: column; }
  .sidebar .logo-container {
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc; }

.notes-list {
  width: 250px;
  height: 100vh;
  border-right: 1px solid #f9f9f9;
  overflow-y: scroll;
  transition: all 300ms ease; }

.main-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column; }

.welcome-message {
  margin-top: 25%;
  text-align: center; }

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  background: #fff; }
  .header .user-wrapper {
    margin-left: auto;
    margin-right: 1rem; }

.cards-header {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center; }
  .cards-header span {
    margin-left: auto;
    padding: 0 1rem;
    color: #7F77CD;
    cursor: pointer;
    transition: all 300ms ease; }
    .cards-header span:hover {
      color: #696594; }

.notes-container {
  padding: 1rem; }
  .notes-container .tags-container {
    margin-bottom: .5rem; }
    .notes-container .tags-container .Select-control {
      border: 0; }
      .notes-container .tags-container .Select-control:hover {
        box-shadow: none; }
    .notes-container .tags-container .Select--multi .Select-value {
      color: #7F77CD;
      border-color: rgba(127, 119, 205, 0.24);
      background-color: rgba(127, 119, 205, 0.08); }
    .notes-container .tags-container .Select--multi .Select-value-icon {
      border-color: rgba(127, 119, 205, 0.24); }
      .notes-container .tags-container .Select--multi .Select-value-icon:hover {
        color: #7F77CD; }
    .notes-container .tags-container .Select-menu-outer {
      border: 0;
      box-shadow: 0 4px 14px rgba(39, 31, 31, 0.45); }
  .notes-container .expand-icon {
    display: flex;
    width: 25px;
    height: 25px;
    margin: 0 0 1rem auto;
    background-image: url("./assets/expand.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    cursor: pointer; }
    .notes-container .expand-icon:hover {
      background-position: 0 -25px; }
  .notes-container .note .note-title {
    width: 100%;
    height: 28px;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 1rem;
    padding: 5px;
    border: none;
    outline: none;
    color: #7F77CD; }
    .notes-container .note .note-title::placeholder {
      color: #7F77CD; }

.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 0;
  margin-bottom: 2em;
  box-shadow: none;
  color: #f2f2f2;
  background: #1a1a1a; }

.editor :global(.public-DraftEditor-content) {
  min-height: 140px; }

.public-DraftEditorPlaceholder-root {
  position: absolute;
  color: #999999; }

.draftJsToolbar__toolbar__dNtBH {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 1rem; }
  .draftJsToolbar__toolbar__dNtBH .draftJsToolbar__button__qi1gf {
    background: #fff;
    color: #000;
    font-size: 18px; }
    .draftJsToolbar__toolbar__dNtBH .draftJsToolbar__button__qi1gf svg {
      width: 18px;
      height: 18px;
      fill: #000; }

button,
.button {
  border-radius: 4px;
  height: 35px;
  cursor: pointer;
  transition: all 300ms ease; }
  button.primary,
  .button.primary {
    width: 150px;
    border: 1px solid;
    font-size: .85rem;
    transform: all 300ms ease; }
    button.primary:hover,
    .button.primary:hover {
      color: #fff;
      background: #7F77CD; }

.cards-wrapper {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  background: #f9f9f9; }

.cards__item {
  flex: 1; }

.card {
  position: relative;
  display: flex;
  min-height: 115px;
  border-bottom: 1px solid #f9f9f9;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .card:hover {
    background: #f9f9f9; }
  .card__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1rem; }
  .card__date {
    margin-bottom: .5rem;
    font-size: .75rem; }
  .card__title {
    color: #696969;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase; }
    .card__title a {
      text-decoration: none;
      color: #7F77CD; }
      .card__title a:hover {
        color: #696594; }
  .card__text {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1rem; }
  .card__delete {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    z-index: 1;
    color: red; }
    .card__delete.--show {
      display: flex; }

.current-user {
  position: relative;
  display: flex;
  margin: auto 0 1rem;
  align-items: center; }
  .current-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: .5rem; }
  .current-user .message {
    position: absolute;
    display: none;
    left: 100%;
    width: 100px;
    height: 75px;
    padding: .5rem 1rem;
    font-size: 1rem;
    color: #000;
    background: #fff;
    z-index: 10; }
  .current-user:hover .message {
    display: block; }

.search {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0 1rem;
  font-size: 28px;
  font-weight: 300;
  color: #999999; }
  .search input {
    width: 100%;
    height: 40px;
    margin: 0 1rem;
    border: 0;
    border-radius: 2px;
    font-size: 28px;
    font-weight: 300;
    transition: all 300ms ease; }
    .search input:focus {
      outline: none;
      box-shadow: 0 0 5px #7f77cd;
      border: 0 0 1px 0 solid #7f77cd; }
