/*  Variables
========================================================================== */
$purple: rgb(102, 51, 153);
$gray-darker:               #444444;
$gray-dark:                 #696969;
$gray:                      #999999;
$gray-light:                #cccccc;
$gray-lighter:              #ececec;
$gray-lightest:             lighten($gray-lighter,4%);

/*  Defaults
========================================================================== */
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/*  App
========================================================================== */

@import './scss/editor';
@import './scss/buttons';
@import './scss/card';