.cards-wrapper {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  background: #f9f9f9;
}

// Cards List 
.cards {
  &__item {
    flex: 1;
  }
}

// Individual Card
.card {
  position: relative;
  display: flex;
  min-height: 115px;
  border-bottom: 1px solid #f9f9f9;
  background-color: white;
  cursor: pointer;
  transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  &:hover {
    background: #f9f9f9;
  }
  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1rem;
  }
  &__date {
    margin-bottom: .5rem;
    font-size: .75rem;
  }
  &__title {
    color: $gray-dark;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    a {
      text-decoration: none;
      color: $moody-blue;
      &:hover {
        color: $scampi;
      }
    }
  }
  &__text {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  &__delete {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.85);
    z-index: 1;
    color: red;
    &.--show {
      display: flex;
    }
  }
}
