.notes-container{
  padding: 1rem;

  .tags-container {
    margin-bottom: .5rem;
    .Select-control {
      border: 0;
      &:hover {
        box-shadow: none;
      }
    }
    .Select--multi .Select-value {
      color: $moody-blue;
      border-color: rgba($moody-blue, .24);
      background-color: rgba($moody-blue, .08);
    }
    .Select--multi .Select-value-icon {
      border-color: rgba($moody-blue, .24);
      &:hover {
        color: $moody-blue;
      }
    }
    .Select-menu-outer {
      border: 0;
      box-shadow: 0 4px 14px rgba(39, 31, 31, 0.45);
    }
  }

  .expand-icon {
    display: flex;
    width: 25px;
    height: 25px;
    margin: 0 0 1rem auto;
    background-image: url('./assets/expand.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    cursor: pointer;
    &:hover {
      background-position: 0 -25px;
    } 
  }

  .note {
    .note-title {
      width: 100%;
      height: 28px;
      font-size: 28px;
      font-weight: 300;
      margin-bottom: 1rem;
      padding: 5px;
      border: none;
      outline: none;
      color: $moody-blue;
      &::placeholder{
        color: $moody-blue;
      }
    }
  }
}

.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 0;
  margin-bottom: 2em;
  box-shadow: none;
  color: #f2f2f2;
  background: #1a1a1a;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.public-DraftEditorPlaceholder-root {
  position: absolute;
  color: $gray;
}

.draftJsToolbar__toolbar__dNtBH {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 1rem;
  .draftJsToolbar__button__qi1gf {
    background: #fff;
    color: #000;
    font-size: 18px;
    svg {
      width: 18px;
      height: 18px;
      fill: #000;
    }
  }
}
