.current-user {
  position: relative;
  display: flex;
  align-items: center;
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: .5rem;
  }
  .message {
    position: relative;
    cursor: pointer;
    &:hover {
      .username {opacity: 0;}
      .logout {opacity: 1}
    }
  }
  .logout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    color: $moody-blue;
    transition: opacity 250ms ease;
  }
}
